---
import { type CollectionEntry } from 'astro:content';
import { Menu, Select } from 'webcoreui/astro';
import DupaLogo from '../assets/my_logo.png';

// import { gameData } from '../lib/gameData';

const menu = [
	{ name: 'Home', href: '/', active: true },
	{ name: 'About', href: '/about', active: true },
];

const menuLogo = {
	url: DupaLogo.src,
	width: 64,
};

// Define the props that Header takes
const { games } = Astro.props;
---

<header>
	<div>
		<Menu items={menu} logo={menuLogo} />
	</div>
	<div>
		<Select
			name="select-id"
			itemGroups={[
				{
					items: games.map((game: CollectionEntry<'games'>) => ({
						name: game.data.title,
						href: `games/${game.id}`,
					})),
				},
			]}
			showSearchBar={false}
			showSearchBarIcon={false}
			placeholder="Games"
		/>
	</div>
</header>

<!-- <script>
    import { listen } from 'webcoreui'

    listen('selectOnChange', (event) => console.log(event))
    listen('selectOnClose', (event) => console.log(event))
</script> -->

<style>
	header {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
</style>
