---
// JavaScript Section
import Layout from '../layouts/Layout.astro';
import { Carousel } from 'webcoreui/astro';
import GameCard  from '../components/GameCard.astro';
import { gameData } from '../data/gameData';

const games = ['trivia', 'chess', 'vampire_survivor', 'space_shooter'];
---
<!-- 
	each file in the pages/ is a separate page in our domain

	https://dupagames.com/ 	-> 	index.html root
	https://dupagames.com/games/chess
	https://dupagames.com/games/space_shooter
	https://dupagames.com/games/vampire_survivor
	https://dupagames.com/games/trivia
-->

<!-- HTML Section -->
<Layout>
	<p>This is our homescreen</p>
	<Carousel items={games.length}>
    	{games.map((game) => (
			<li><a href=`/games/${game}` >
				<GameCard 
					title={gameData[game].title}
					image={gameData[game].image}
					description={gameData[game].description}
				/> 
			</a></li>))}
	</Carousel>

</Layout>

<!-- 
	There are two ways to write CSS in an astro file
	1. Write styles inside page's <style> - only applies to elements in current file
	2. Import a css file from styles/ - can apply to multiple files or globally
-->
<!-- CSS Section - allows us to add scoped CSS to our html -->
