---
import DupaLogo from '@/assets/my_logo.png';
import Button from '@/components/Button.astro';
import Header from '@/components/Header.astro';
import Layout from '@/layouts/Layout.astro';
import Image from 'astro/components/Image.astro';

import ControlsPopover from '@/components/ControlsPopover.astro';
import FullScreenIcon from '@lucide/astro/icons/expand';
import { getCollection, render, type CollectionEntry } from 'astro:content';

// Generate a new page for every file inside the content/
export async function getStaticPaths() {
	const games = await getCollection('games');
	return games.map((entry: CollectionEntry<'games'>) => ({
		params: { game: entry.id },
		props: { game: entry },
	}));
}

const games = await getCollection('games');

// Here is how we access the data for each page from its .md file in content/
type Props = { game: CollectionEntry<'games'> };

const { game }: Props = Astro.props; // This stores the frontmatter data
const { Content } = await render(game); // This converts the content from .md syntax to html + css

console.log("File path:", game.filePath);
console.log("game id:", game.id);
---

<!-- 
  We currently only have 2 games on our site, can you add the last two
-->
<Layout>
	<Header games={games} />
	<article class="content">
		<div class="game-window">
			<iframe
				src={`/games/${game.id}/build/web/index.html`}
				allow="autoplay; fullscreen"
				style="width: 1280px; height: 720px; border: 0;" 
			/>
			<!-- allow="cross-origin-isolated" -->

			<footer>
				<div class="left-items">
					<Image src={DupaLogo} alt="Dupa Games Logo" width={80} />
					<div class="game-info">
						<h4 class="game-type">{game.data.type}</h4>
						<h1>{game.data.title}</h1>
					</div>
				</div>

				<div class="icons">
					<ControlsPopover />
					<Button><FullScreenIcon size={44} /></Button>
				</div>
			</footer>
		</div>

		<div class="game-description">
			<Content />
		</div>
	</article>
</Layout>
<style>
	.content {
		display: flex;
		gap: var(--gap-4);
		width: 1280px;
		flex-direction: column;
		justify-self: center;
	}

	.game-window {
		display: flex;
		justify-self: center;
		flex-direction: column;
	}

	.game-description {
		color: var(--color-text);
		font-size: var(--font-l);
		background-color: var(--color-surface);
		border-radius: var(--radius-md);
		padding: var(--gap-5);
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--gap-3) var(--gap-5);

		background-color: var(--color-surface);
		border-bottom-left-radius: var(--radius-md);
		border-bottom-right-radius: var(--radius-md);
	}

	.game-info {
		display: flex;
		flex-direction: column;
		align-self: center;
	}

	.icons {
		display: flex;
		gap: var(--gap-6);
		align-items: center;
	}

	.left-items {
		display: flex;
		gap: var(--gap-4);
	}
</style>
