---
// JavaScript Section
import DupaLogoText from '@/assets/my_logo_text.png';
import GameCard from '@/components/GameCard.astro';
import Header from '@/components/Header.astro';
import Layout from '@/layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import { getCollection } from 'astro:content';

const games = await getCollection('games');
---

<Layout>
	<Header games={games} />

	<div class="welcome">
		<video src="vampire-survivor-preview.mp4" autoplay muted loop></video>
		<h1>WELCOME TO...</h1>
		<Image src={DupaLogoText} alt="Dupa Games Logo" width={200} />
	</div>

	<h1 class="game-heading">Browse all games</h1>
	<ul class="game-grid">
		{
			games.map((game: any) => (
				<li>
					<GameCard
						title={game.data.title}
						description={game.data.description}
						image={game.data.image}
						href={`games/${game.id}`}
					/>
				</li>
			))
		}
	</ul>
</Layout>

<!-- 
	There are two ways to write CSS in an astro file
	1. Write styles inside page's <style> - only applies to elements in current file
	2. Import a css file from styles/ - can apply to multiple files or globally
-->

<!-- CSS Section - allows us to add scoped CSS to our html -->
<style>
	.welcome {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 50vh;
		gap: var(--gap-3);

		color: var(--color-brand);
		z-index: 1;
	}

	video {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;

		overflow: hidden;
		object-position: center center;
		object-fit: cover;
		opacity: 0.2;
	}

	.game-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--gap-4);
		padding: var(--gap-4);
	}

	/* .carousel {
		display: flex;
		flex-direction: column;
		justify-self: center;
		width: 1024px;
	} */

	.game-heading {
		color: var(--color-text);
		text-align: center;
		font-size: var(--font-5xl);
		padding: var(--gap-4);
	}
</style>
